<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904063816814-g2d89tf0aqrnq6kf5idscorg0t6g16gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904063816814-g2d89tf0aqrnq6kf5idscorg0t6g16gt</string>
	<key>API_KEY</key>
	<string>AIzaSyDxPoIyKxsiyjf5ckVoD3-pS3Y9D-t5OKY</string>
	<key>GCM_SENDER_ID</key>
	<string>904063816814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.quer</string>
	<key>PROJECT_ID</key>
	<string>quer-fef2e</string>
	<key>STORAGE_BUCKET</key>
	<string>quer-fef2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904063816814:ios:369692045c6e7dee5e427f</string>
</dict>
</plist>